<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start mb-3">
                    <a href="index.html" class=" ">
                        <span><img src="assets/images/image001 (1).png" alt=" " ></span>
                    </a>

                </div>

                <!-- title-->
                <h4 class="mt-5 ">Crea tu cuenta en LoL</h4>
                <p class="text-muted mb-4 ">Completa los campos a continuación:</p>

                <!-- form -->
                <form action="# ">
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Nombre de la empresa</label>
                        <input type="text " id="form3Example1m " placeholder="Coloca el nombre de la empresa aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Nombre del responsable</label>
                        <input type="text " id="form3Example1m " placeholder="Coloca el nombre del responsable aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1n ">Correo electrónico</label>
                        <input type="text " placeholder="Coloca tu correo aquí " id="form3Example1n " class="form-control " />
                    </div>
                    <div class="mb-2 ">
                        <div class="row ">
                            <label class="form-label " for="form3Example1m1 ">Celular</label>
                            <div class="col-md-3  ">
                                <div class="form-outline ">
                                    <select class="form-select " aria-label="Default select example ">
                                        <option selected>+57</option>
                                        <option value="1 ">32</option>
                                        <option value="2 ">10</option>
                                        <option value="3 ">11</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-9  ">
                                <div class="form-outline ">
                                    <input type="number " id="form3Example1n1 " placeholder="00000 " min="0 " class="form-control " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Dirección de la empresa</label>
                        <input type="text " id="form3Example1m " placeholder="Coloca Dirección de la empresa aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Perfil de linkedin</label>
                        <input type="text" id="form3Example1m " placeholder="Coloca Perfil de linkedin aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example4cg ">Crea una contraseña</label>
                        <input type="password " id="form3Example4cg " placeholder="****** " class="form-control  " />
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example4cdg ">Confirma tu contraseña</label>
                        <input type="password " id="form3Example4cdg " placeholder="****** " class="form-control  " />
                    </div>
                    <div class="mb-2 ">
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Acepto y he leído los términos y condiciones
                            </label>
                        </div>
                    </div>





                </form>
                <div class="mb-2 d-grid text-center ">
                    <button class="btn btn-primary" [routerLink]="['']" routerLinkActive="router-link-active">Crear cuenta</button>
                </div>
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt ">
                    <p class=" text-muted mt-5 mb-0 already-account">¿Ya tienes cuenta?
                        <a [routerLink]="['']" routerLinkActive="router-link-active" class="fw-bold text-body">
                            <u class=" text-primary">Inicia sesión aquí</u>
                        </a>
                    </p>
                </footer>

            </div>
            <!-- end .card-body -->
        </div>
        <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center ">
        <div class="auth-user-testimonial ">


        </div>
        <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
</div>