<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start mb-3">
                    <a href="index.html" class=" ">
                        <span><img src="assets/images/image001 (1).png" alt=" " ></span>
                    </a>

                </div>

                <!-- title-->
                <h4 class="mt-5 ">Crea tu cuenta en LoL</h4>
                <p class="text-muted mb-4 ">Completa los campos a continuación:</p>

                <!-- form -->
                <form (ngSubmit)="Register()" autocomplete="off" [formGroup]="registerform">
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Nombre de la empresa</label>
                        <input type="text" formControlName="client_name" placeholder="Coloca el nombre de la empresa aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Nombre del responsable</label>
                        <input type="text" formControlName="client_name_charge" placeholder="Coloca el nombre del responsable aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1n ">Correo electrónico</label>
                        <input type="text" formControlName="email" placeholder="Coloca tu correo aquí " id="form3Example1n " class="form-control " />
                    </div>
                    <div class="mb-2 ">
                        <div class="row ">
                            <label class="form-label " for="form3Example1m1 ">Celular</label>
                            <div class="col-md-4  ">
                                <div class="form-outline ">
                                    <select class="form-select" formControlName="phone_prefix" required aria-label="phone_prefix">
                                        <option *ngFor="let prefix of prefixs" [value]="prefix.phone_code">{{prefix.iso3}} +{{prefix.phone_code}} </option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-8  ">
                                <div class="form-outline ">
                                    <input type="number" id="form3Example1n1" formControlName="phone_number" placeholder="00000 " min="0 " class="form-control " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Dirección de la empresa</label>
                        <input type="text" formControlName="address" placeholder="Coloca Dirección de la empresa aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example1m "> Perfil de linkedin</label>
                        <input type="text" formControlName="social_linkedin" placeholder="Coloca Perfil de linkedin aqui " class="form-control ">
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example4cg ">Crea una contraseña</label>
                        <input type="password" formControlName="password1" placeholder="****** " class="form-control  " />
                    </div>
                    <div class="mb-2 ">
                        <label class="form-label " for="form3Example4cdg ">Confirma tu contraseña</label>
                        <input type="password" formControlName="password" placeholder="****** " class="form-control  " />
                    </div>
                    <div class="mb-2 ">
                        <div class="form-check ">
                            <input class="form-check-input" formControlName="terms_conditions" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Acepto y he leído los términos y condiciones
                            </label>
                        </div>
                    </div>
                    <div class="mb-2 d-grid text-center ">
                        <button class="btn btn-primary" type="submit">Crear cuenta</button>
                    </div>
                </form>
                <!-- end form-->

                <!-- Footer-->
                <!-- <footer class="footer footer-alt ">
                    <p class=" text-muted mt-5 mb-0 already-account">¿Ya tienes cuenta?
                        <a [routerLink]="['']" routerLinkActive="router-link-active" class="fw-bold text-body">
                            <u class=" text-primary">Inicia sesión aquí</u>
                        </a>
                    </p>
                </footer> -->

            </div>
            <!-- end .card-body -->
        </div>
        <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

</div>