<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Formulario de cotización</h4>
                <p class="text-muted font-14">
                    Realiza tus cálculos paras asi tener claro tus posibles gastos para tu próxima operación.
                </p>
                <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#create-quote" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Formulario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pendings-quote" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                            Pendientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#responses-quote" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                            Respondidas
                        </a>
                    </li>

                </ul>
                <!-- end nav-->
                <div class="tab-content">
                    <div class="tab-pane show active" id="create-quote">
                        <form action="">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Puerto</label>
                                        <select class="form-select" id="example-select">
                                                <option>Selecciona un puerto o ubicación de tu operación</option>
                                                <option>Pimsa</option>
                                                <option>Cartagena</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Tipo de producto</label>
                                        <select class="form-select" id="example-select">
                                                <option>Selecciona el tipo de producto</option>
                                                <option>1</option>
                                                <option>2</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Cantidad de servicios</label>
                                        <input type="number" min="0" placeholder="Cantidad de servicios" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Numero de toneladas</label>
                                        <input type="number" min="0" placeholder="Numero de toneladas" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Fecha estimada de operación</label>
                                        <input type="date" min="0" placeholder="Fecha estimada de operación" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label for="example-select" class="form-label my-0 fw-bold">Rata de productividad</label>
                                        <input type="number" name="" class="form-control" min="0" placeholder="Rata de productividad" id="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Cantidad de cucharas</label>
                                        <input type="number" min="0" placeholder="Cantidad de cucharas" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Cantidad de Tolvas</label>
                                        <input type="number" min="0" placeholder="Cantidad de cucharas" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-select" class="form-label fw-bold">Cantidad de Minitolvas</label>
                                        <input type="number" min="0" placeholder="Cantidad de cucharas" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="example-date" class="form-label fw-bold">Movimientos a realizar con los equipos seleccionados</label>

                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">Descargue</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">Cargue</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">Ensacado</label>
                                        </div>

                                    </div>



                                </div>
                                <!-- end col -->
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" type="button" (click)="quote()">
                                        Cotizar
                                    </button>
                                </div>
                            </div>
                        </form>


                        <!-- end row-->
                    </div>
                    <!-- end preview-->
                    <div class="tab-pane" id="pendings-quote">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Puerto</th>
                                    <th>Fecha de solicitud</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-user">
                                        HSDÑLF2332S
                                    </td>
                                    <td>Pimsa</td>
                                    <td>24/07/2021</td>

                                </tr>
                                <tr>
                                    <td class="table-user">
                                        HSDÑLF2332S
                                    </td>
                                    <td>Pimsa</td>
                                    <td>24/07/2021</td>

                                </tr>
                                <tr>
                                    <td class="table-user">
                                        ASFJKD23ED3
                                    </td>
                                    <td>Cartagena</td>
                                    <td>11/03/2021</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="responses-quote">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Puerto</th>
                                    <th>Fecha de solicitud</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-user">
                                        HSDÑLF2332S
                                    </td>
                                    <td>Pimsa</td>
                                    <td>24/07/2021</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-user">
                                        HSDÑLF2332S
                                    </td>
                                    <td>Pimsa</td>
                                    <td>24/07/2021</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-user">
                                        ASFJKD23ED3
                                    </td>
                                    <td>Cartagena</td>
                                    <td>11/03/2021</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-download"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end tab-content-->

            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>

</div>