<div class="navbar-custom topnav-navbar topnav-navbar-dark">
    <div class="container-fluid">

        <!-- LOGO -->
        <a href="" class="topnav-logo">
            <!-- <span class="topnav-logo-lg">
                <img src="assets/images/lol-logo-sm.png" alt="" height="16">
            </span> -->
            <span class="">
                <img src="assets/images/logo -LOL.png" alt="" width="120px" height="34px">
            </span>
        </a>

        <ul class="list-unstyled topbar-menu float-end mb-0">

            <li class="dropdown notification-list d-none d-sm-inline-block">
                <a class="nav-link dropdown-toggle arrow-none" [routerLink]="['/Home/Mailbox']" routerLinkActive="router-link-active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-archive noti-icon"></i>
                </a>

            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    <span>
                        <span class="account-user-name">{{username}}</span>
                    <span class="account-position">Cliente</span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Bienvenido a LoL !</h6>
                    </div>
                    <!-- item-->
                    <!-- <a data-bs-toggle="modal" data-bs-target="#primary-header-modal" style="cursor: pointer;" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Cambiar contraseña</span>
                    </a> -->
                    <!-- item-->
                    <a [routerLink]="['']" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Cerrar sesión</span>
                    </a>

                </div>
            </li>
        </ul>
        <a class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>

    </div>
</div>

<!-- ==================================== -->
<!-- ==============CHANGE PASSWORD MODAL================= -->
<!-- ==================================== -->
<div id="primary-header-modal" class="modal fade show" tabindex="-1" aria-labelledby="primary-header-modalLabel" style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="primary-header-modalLabel">Cambiar contraseña
                    <a href=""></a>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="example-password" class="form-label">Contraseña</label>
                    <input type="password" id="example-password" class="form-control" value="password">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Repite tu  Contaseña</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" class="form-control" placeholder="Repite tu contraseña">
                        <div class="input-group-text" data-password="false">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Cambiar contraseña</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>