<div class="leftside-menu leftside-menu-detached show h-100">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <span class="leftbar-user-name">{{username}}</span>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="side-nav">
        <li class="side-nav-title side-nav-item">COTIZACIONES</li>

        <li class="side-nav-item">
            <a [routerLink]="['/Dashboard/Quote']" routerLinkActive="active" class="side-nav-link">
                <i class="uil-calender"></i>
                <span> Cotizar </span>
            </a>
        </li>
        <li class="side-nav-title side-nav-item">TRAZABILIDAD</li>

        <li class="side-nav-item active">
            <a [routerLink]="['/Dashboard']" routerLinkActive="active" aria-controls="sidebarDashboards" class="side-nav-link active">
                <i class="uil-home-alt"></i>

                <span> Operaciones </span>
            </a>

        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Dashboard/Reports']" routerLinkActive="active" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-chart-growth"></i>

                <span> Reportes </span>
            </a>

        </li>



    </ul>



    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>