<div class="card">
    <div class="card-body">
        <h4 class="header-title">Detalles de la operacion</h4>

        <!-- end nav-->
        <div class="tab-content">
            <div class="tab-pane show active" id="bordered-justified-tabs-preview">
                <ul class="nav nav-tabs nav-justified nav-bordered mb-3">
                    <li class="nav-item ">
                        <a href="#turns" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            <i class="mdi mdi-home-variant d-md-none d-block"></i>
                            <span class="d-none d-md-block">Turnos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#daily-status" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Estado de hechos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#chargue" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Cargue</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#descharge" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Descargue</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#office" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Despacho</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#evidencias" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block">Evidencias</span>
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-content">

                            <div class="tab-pane show active" id="turns">
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="vertical-left-tabs-preview">
                                        <div class="row">
                                            <div class="col-sm-3 mb-2 mb-sm-0">
                                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                    <a class="nav-link active" id="v-pills-settings-tab" data-bs-toggle="pill" href="#consolidate" role="tab" aria-controls="consolidate" aria-selected="false">
                                                        <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                        <span class="d-none d-md-block">RCC</span>
                                                    </a>



                                                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#turn-bill" role="tab" aria-controls="turn-bill" aria-selected="false">
                                                        <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                        <span class="d-none d-md-block">Facturación de turnos(Cliente)</span>
                                                    </a>


                                                </div>
                                            </div>
                                            <!-- end col-->

                                            <div class="col-sm-9">
                                                <div class="tab-content" id="v-pills-tabContent">
                                                    <div class="tab-pane   fade" id="turn-bill" role="tabpanel" aria-labelledby="turn-bill-tab">
                                                        <!--   <div class="d-flex w-auto">
                                                            <label class="form-label">Mes a facturar</label>
                                                            <input type="month" class="form-control date" id="birthdatepicker" data-toggle="date-picker" data-single-date-picker="true" style="height:38px">
                                                            <a href="#" class="mx-2">
                                                                <button class="btn btn-primary">Descargar</button>
                                                            </a>
                                                        </div> -->
                                                        <div class="alert alert-success" role="alert" *ngIf="facturation_reports.length === 0">
                                                            <h4 class="alert-heading text-center">No se ha generado una factura aún de esta operación</h4>
                                                            <p></p>
                                                            <p class="mb-0"></p>
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-centered mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Detalle</th>
                                                                        <th>Cant.</th>
                                                                        <th>Vr. Por turno ($)</th>
                                                                        <th>Subtotal</th>

                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr *ngFor="let facturation_report of facturation_reports">
                                                                        <td>{{facturation_report.turn.description}}{{facturation_report.turn.abbreviation}}</td>
                                                                        <td>{{facturation_report.cnt }}</td>
                                                                        <td>{{facturation_report.turn.value}} </td>
                                                                        <td>{{getSubtotal(facturation_report.cnt, facturation_report.turn.value)}} </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <h4>TOTAL</h4>
                                                                        </td>
                                                                        <td>
                                                                            {{total_turns}}
                                                                        </td>
                                                                        <td>{{subtotal_turn}} </td>
                                                                        <td>
                                                                            <h4 class="text-primary">{{total}} </h4>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div id="complex-header-datatable_paginate" class="dataTables_paginate paging_simple_numbers mt-1 text-end">
                                                                <ul class="pagination pagination-rounded text-end">
                                                                    <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                                                    <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                                    <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane active show fade" id="consolidate" role="tabpanel" aria-labelledby="consolidate-tab">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-centered mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>ID</th>
                                                                        <th>Nombre del empleado</th>
                                                                        <th>Cargo del empleado</th>
                                                                        <th>Estado</th>
                                                                        <th>Confirmar</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr style="cursor: pointer;" tabindex="0" *ngFor="let rcc of rccs">
                                                                        <td class="table-user"><span>{{rcc.employee.document_number}}</span></td>
                                                                        <td><span>{{rcc.employee.fullname}}</span></td>
                                                                        <td><span>{{rcc.position.name}} </span></td>
                                                                        <td>
                                                                            <span class="text-danger" *ngIf="rcc.confirmation === false"> Pendiente </span>
                                                                            <span class="text-success" *ngIf="rcc.confirmation === true"> Confirmado </span>
                                                                        </td>

                                                                        <td class="table-action">
                                                                            <a (click)="updateTurn(rcc.id)" class="action-icon" *ngIf="rcc.confirmation === false"> <i class="mdi mdi-check fw-bold text-primary"></i></a>
                                                                            <span *ngIf="rcc.confirmation === true">En curso</span>
                                                                        </td>
                                                                    </tr>


                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- end tab-content-->
                                            </div>
                                            <!-- end col-->
                                        </div>
                                        <!-- end row-->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="daily-status">

                                <div class=" d-flex w-auto ">
                                    <label class="form-label">Dia a realizar</label>
                                    <input type="date" class="form-control date " id="birthdatepicker" data-toggle="date-picker" data-single-date-picker="true" style="height: 38px;">

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th>Motonave/Barcaza</th>
                                                <th>Fecha</th>
                                                <th>Hora inicio </th>
                                                <th>Descripción/Novedad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let factualStatu of factualStatus" style="cursor: pointer;" tabindex="0">
                                                <td><span>{{factualStatu.motor_ship}}</span></td>
                                                <td><span>{{factualStatu.createdAt | date:'shortDate'}}</span></td>
                                                <td><span>{{factualStatu.createdAt | date:'shortTime'}}</span></td>
                                                <td><span>{{factualStatu.description}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="complex-header-datatable_paginate" class="dataTables_paginate paging_simple_numbers mt-1 text-end">
                                        <ul class="pagination pagination-rounded text-end">
                                            <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                            <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane" id="chargue">
                                <div class="container-btn d-flex justify-content-between mb-2">
                                    <button class="btn btn-primary" style="height: 38px;">Descargar</button>
                                    <!--<button class="btn btn-primary mx-2" style="height: 38px;" data-bs-target="#add-charge-modal" data-bs-toggle="modal">Agregar reporte</button>--></div>
                                <div class="alert alert-success" role="alert" *ngIf="carries.length === 0">
                                    <h4 class="alert-heading">No hay cargues disponibles</h4>
                                    <p></p>
                                    <p class="mb-0">Genera uno nuevo</p>
                                </div>
                                <div class="app-search ">
                                    <div class="mb-2 position-relative">
                                        <input type="text" placeholder="Buscar cargas...." class="form-control">
                                        <span class="mdi mdi-magnify search-icon"></span>
                                    </div>
                                </div>
                                <div class="table-responsive" *ngIf="carries.length > 0">
                                    <table class="table table-striped table-centered mb-0">
                                        <thead>
                                            <tr>

                                                <th>Motonave/Barcaza</th>
                                                <th>Fecha y hora inicio</th>
                                                <th>Fecha y hora fin</th>
                                                <th>N° Bobinas</th>
                                                <th>Cliente</th>
                                                <th>Placa</th>
                                                <th>Remesa</th>
                                                <th>Código bobina</th>
                                                <th>Espesor</th>
                                                <th>Dimensiones</th>
                                                <th>Peso bruto</th>
                                                <th>Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let carrie of carries">
                                                <td>{{carrie.motor_ship}}</td>
                                                <td>{{carrie.date_start}}</td>
                                                <td>{{carrie.date_stop}}</td>
                                                <td>{{carrie.coils}} </td>
                                                <td>{{carrie.client.client_name}} </td>
                                                <td>{{carrie.license_plate}}</td>
                                                <td>{{carrie.consignment}}</td>
                                                <td>{{carrie.coil_code}}</td>
                                                <td>{{carrie.thickness}}</td>
                                                <td>{{carrie.dimensions}}</td>
                                                <td>{{carrie.gross_weight}}</td>
                                                <td>{{carrie.observations}} </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div id="complex-header-datatable_paginate" class="dataTables_paginate paging_simple_numbers mt-2 d-flex justify-content-between">

                                    <ul class="pagination pagination-rounded text-end">
                                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                    </ul>

                                </div>

                            </div>
                            <div class="tab-pane" id="descharge">
                                <div class="container-btn d-flex justify-content-between mb-2">
                                    <button class="btn btn-primary" style="height: 38px;">Descargar</button>
                                    <!-- <button class="btn btn-primary mx-2" style="height: 38px;" data-bs-target="#add-descharge-modal" data-bs-toggle="modal">Agregar reporte</button>
 --></div>
                                <div class="app-search ">
                                    <div class="mb-2 position-relative">
                                        <input type="text" placeholder="Buscar descargas...." class="form-control">
                                        <span class="mdi mdi-magnify search-icon"></span>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-centered mb-0">
                                        <thead>
                                            <tr>

                                                <th>Motonave/Barcaza</th>
                                                <th>Fecha y hora inicio</th>
                                                <th>Fecha y hora fin</th>
                                                <th>N° Bobinas</th>
                                                <th>Cliente</th>
                                                <th>Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let discarrie of discarries">

                                                <td>{{discarrie.motor_ship}}</td>
                                                <td>{{discarrie.date_start}}</td>
                                                <td>{{discarrie.date_stop}} </td>
                                                <td>0 </td>
                                                <td>{{discarrie.client.client_name}}</td>

                                                <td>{{discarrie.observations}} </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div id="complex-header-datatable_paginate" class="dataTables_paginate paging_simple_numbers mt-2 d-flex justify-content-between">

                                    <ul class="pagination pagination-rounded text-end">
                                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                    </ul>

                                </div>

                            </div>
                            <div class="tab-pane" id="office">
                                <div class="btn-container d-flex justify-content-between mb-2">
                                    <button class="btn btn-primary" style="height: 38px;">Descargar</button>
                                    <!-- <button class="btn btn-primary mx-2" style="height: 38px;" data-bs-target="#add-office-modal" data-bs-toggle="modal">Nuevo despacho</button>--></div>
                                <div class="alert alert-success" role="alert" *ngIf="dispatches.length === 0">
                                    <h4 class="alert-heading">No hay despachos existentes</h4>
                                    <p></p>
                                    <p class="mb-0">Genera uno nuevo</p>
                                </div>
                                <div class="app-search ">
                                    <div class="mb-2 position-relative">
                                        <input type="text" placeholder="Buscar despachos" class="form-control">
                                        <span class="mdi mdi-magnify search-icon"></span>
                                    </div>
                                </div>
                                <div class="table-responsive" *ngIf="dispatches.length > 0">
                                    <table class="table table-striped table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th>Motonave/Barcaza</th>
                                                <th>Fecha y hora inicio</th>
                                                <th>Fecha y hora fin</th>
                                                <th>N° Bobinas</th>
                                                <th>Cliente</th>
                                                <th>Placa</th>
                                                <th>Remesa</th>
                                                <th>Código bobina</th>
                                                <th>Espesor</th>
                                                <th>Dimensiones</th>
                                                <th>Peso bruto</th>
                                                <th>Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dispatch of dispatches">
                                                <td>{{dispatch.motor_ship}}</td>
                                                <td>{{dispatch.date_start }} </td>
                                                <td>{{dispatch.date_stop}}</td>
                                                <td>{{dispatch.coils}} </td>
                                                <td>{{dispatch.client.client_name}}</td>
                                                <td>{{dispatch.license_plate}}</td>
                                                <td>{{dispatch.consignment}}</td>
                                                <td>{{dispatch.coil_code}}</td>
                                                <td>{{dispatch.thickness}}</td>
                                                <td>{{dispatch.dimensions}}</td>
                                                <td>{{dispatch.gross_weight}}</td>
                                                <td>{{dispatch.observations}} </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div id="complex-header-datatable_paginate" class="dataTables_paginate paging_simple_numbers mt-2 d-flex justify-content-between">

                                    <ul class="pagination pagination-rounded text-end">
                                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="evidencias">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Material gráfico de la operacion</h4>
                                        <p class="text-muted font-14">Visualizala</p>

                                        <!-- end nav-->

                                        <div id="carouselExampleCaption" style="max-width: 1000px;" class="carousel slide d-flex justify-content-center mt-2 " data-bs-ride="carousel">
                                            <div class="carousel-inner w-100 text-center" role="listbox">
                                                <div class="carousel-item active" style="height: 500px; width: 100%;">
                                                    <img src="assets/images/barco.jpg" alt="..." class="d-block w-100">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h3 class="text-white">Evidencias</h3>
                                                        <p>Dream Team LOL</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item " *ngFor="let evidence of evidences" style="height: 500px; width: 100%;">
                                                    <img [src]="evidence.url" alt="..." class="d-block w-100 ">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h3 class="text-white">{{evidence.description}} </h3>
                                                        <p>{{evidence.createdAt | date:'short'}} </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleCaption" role="button" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleCaption" role="button" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </a>

                                            <!-- end preview-->


                                            <!-- end preview code-->
                                        </div>
                                        <!-- end tab-content-->

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end preview-->
        <!-- end preview code-->
    </div>
    <!-- end tab-content-->
</div>
<!-- end card-body -->